@font-face {
  font-family: Display;
  src: url(/src/assets/fonts/Sephyrok\ Regular.otf);
}

@font-face {
  font-family: Display2;
  src: url(/src/assets/fonts/AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: Main;
  src: url(/src/assets/fonts/AdventPro.ttf);
}

.font-display{
  font-family: Display, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-display-2 {
  font-family: Display2, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-main {
  font-family: Main, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-outline-white{
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  /* -webkit-text-stroke: 1px rgb(255, 255, 255); */
}

.font-outline-black {
  -webkit-text-stroke: 20px rgb(0, 0, 0);
  /* -webkit-text-stroke: 1px rgb(255, 255, 255); */
}

.font-outline-yellow {
  -webkit-text-stroke: 1px rgb(244, 244, 138);
  /* -webkit-text-stroke: 1px rgb(255, 255, 255); */
}

.font-lg-vw{
  font-size: clamp(2rem, 10vw, 20rem)
}

.line-height{
  line-height: 4px;
}

.smol-font{
  font-size: 5px;
}

.font-glow-white{
  text-shadow: 0 0 2px rgba(158, 158, 158, 1),
  0 0 4px rgb(0, 0, 0),
  0 0 4px rgba(255, 255, 255, 1),
  0 0 40px rgba(255, 255, 255, 1);
}

.font-glow-red {
  text-shadow: 4px 6px 0.05px rgba(91, 91, 255, 0.2),
  -4px -6px 0.05px rgba(223, 65, 65, 0.1);
}

/* .font-glow-red {
  color: transparent;
  text-shadow:
    -10px -10px 0px rgba(68, 68, 68, 0.5),
    5px -4px 0px rgba(68, 68, 68, 0.5),
    -1px 1px 0px rgba(75, 75, 75, 0.5),
    1px 1px 0px rgba(75, 75, 75, 0.5),
    -2px -2px 0px rgba(75, 75, 75, 0.5),
    2px -2px 0px rgba(75, 75, 75, 0.5),
    -2px 2px 0px rgba(75, 75, 75, 0.5),
    2px 2px 0px rgba(75, 75, 75, 0.5);
} */

.font-glow-none {
  text-shadow: 0px 0px 0px rgba(16, 16, 16, 0);
    
}

.font-glow-blue {
  text-shadow: -4px -4px 1px rgb(79, 137, 236);
}

.font-glow-black {
  text-shadow: 0 0 4px rgb(248, 247, 247),
    0 0 3px rgb(26, 26, 26),
    0 0 3px rgb(26, 26, 26),
    0 0 0px rgb(82, 82, 82);
}

.font-lines-red {
  -webkit-text-stroke: 4px 4px 1px rgba(255, 255, 255, 0.5),
    -4px -4px 1px rgba(0, 0, 0, 0.5);
}

.font-lines-none {
  -webkit-text-stroke: 4px 4px 1px rgba(255, 255, 255, 0);
}

.box-glow-white {
  box-shadow: 0 0 4px rgba(158, 158, 158, 1),
    0 0 4px rgba(255, 255, 255, 1),
    0 0 4px rgba(255, 255, 255, 1),
    0 0 40px rgba(255, 255, 255, 1);
}

.box-glow-red {
  box-shadow: 0 0 4px rgb(255, 45, 45),
    0 0 4px rgb(255, 45, 45),
    0 0 4px rgb(255, 45, 45),
    0 0 20px rgb(255, 45, 45);
}
.bg-black-to-white {
  background: linear-gradient(to right, white 50%,
    gray 0%,
    #100F0F 50%);
}

.vertical-text-lr {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.vertical-text-rl {
  writing-mode: vertical-rl;
  transform: rotate(360deg);
}




